/* global reset + readable defaults */
html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background: #ffffff;
  /* white background */
  color: #111111;
  /* dark text */
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", sans-serif;
  line-height: 1.6;
}